.download-panel-button {
    position: fixed;
    top: 0;
    right: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 10fr;
    grid-template-areas: "header header" "preview editor";
    column-gap: 20px;
    row-gap: 30px;
    align-items: stretch;
    min-height: 100vh;
}

.editor {
    grid-area: editor;
}

.preview {
    grid-area: preview;
}

.header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 1fr;
    h1 {
        margin: 0;
        left: 0;
        place-self: center stretch;
        align-self: center;
    }
    .menu-buttons {
        place-self: end;
        align-self: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.card {
    box-shadow: 0px 0px 10px 2px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 30px;
}